body {
  margin: 0;
  background-image: url(/res/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 20%;
  overflow-y: hidden;
}


#loop_mv {
  position: absolute;
  display: block;
  z-index: -1;
}

.noti_box {
  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 15px;

  height: 500px;
  width: 400px;

  position: absolute;
  right: 500px;
  top: 280px;

  text-align: center;
}


.noti_title p {
  font-size: 50px;
}


.schedule_box {
  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 15px;

  height: 500px;
  width: 400px;

  position: absolute;
  right: 50px;
  top: 280px;
}



@media screen and (max-width: 660px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-logo {
    width: 100%;
    text-align: center;
  }

  .navbar-links {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  #loop_mv {
    display: none;
  }
}


.noti_edit_input_btn {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.noti_edit_input_btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.noti_edit_input_btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.noti_edit_input_btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.noti_edit_input_btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.noti_edit_input_btn:hover span {
  transform: translateX(5em);
}

.noti_edit_input_btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

