body {
  margin: 0;
  background-image: url(/res/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 20%;
  overflow-y: hidden;
}


#loop_mv {
  position: absolute;
  display: block;
  z-index: -1;
}

.noti_box {
  background-color: white;
  opacity: 50%;

  border-radius: 15px;

  height: 500px;
  width: 400px;

  position: absolute;
  right: 500px;
  top: 280px;
}

.schedule_box {
  background-color: white;
  opacity: 50%;

  border-radius: 15px;

  height: 500px;
  width: 400px;

  position: absolute;
  right: 50px;
  top: 280px;
}





@media screen and (max-width: 660px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-logo {
    width: 100%;
    text-align: center;
  }

  .navbar-links {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  #loop_mv {
    display: none;
  }
}